/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            label = "Base";
            bindings = <
&kp ENTER      &kp P          &kp O       &kp I          &kp U        &kp Y                                    &kp N6  &kp N7    &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp SQT        &kp SEMICOLON  &kp L       &kp K          &kp J        &kp H                                    &kp Y   &kp U     &kp I      &kp O    &kp P     &kp MINUS
&kp RS(SLASH)  &kp UP_ARROW   &kp PERIOD  &kp COMMA      &kp M        &kp N                                    &kp H   &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp RC(RIGHT)  &kp DOWN       &kp LEFT    &kp PAGE_DOWN  &kp PAGE_UP  &kp B           &kp LBKT       &kp RBKT  &kp N   &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                          &kp LALT       &kp LGUI     &lt 1 LEFT_GUI  &lt 2 SPACE    &kp RET   &mo 0   &kp BSPC  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
&trans  &kp ASTERISK  &kp PLUS   &kp N9        &kp N8          &kp N7                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp SLASH     &kp MINUS  &kp NUMBER_6  &kp N5          &kp NUMBER_4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans     &kp NUMBER_3  &kp NUMBER_2    &kp NUMBER_1                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans     &trans        &bt BT_CLR_ALL  &kp N0        &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                 &trans        &trans          &trans        &trans    &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS                     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp CARET      &kp PERCENT   &kp DOLLAR                               &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp HASH       &kp AT_SIGN   &kp EXCLAMATION                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans         &trans        &kp RIGHT_PARENTHESIS  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans         &trans        &trans                 &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
